@import '../../app.vars.css';

.active-tickets .tab__tickets {
  width: 480px;
}

.ticket-list {
  padding: 0;

  margin: 0;
  list-style-type: none;
  flex: 1 1 auto;
  overflow-y: auto;

  &__item {
    background-color: #fff;
    margin: 4px 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    padding: 8px 12px 12px;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 1px 0 .5px rgba(0,0,0,.15);

    &.active .ticket-list__active {
      background-color: var(--green_lt);
      border-color: var(--green_lt);
      background-image: radial-gradient(ellipse, var(--green_lt), var(--green_lt));

      &:before {
        transform: scale(1);
      }
    }

    &:hover {
      background-color: var(--blue_hover);
    }

    &:hover .ticket-list__active {
      border: 2px solid var(--green_lt);
    }
  }

  &__title {
    font-size: 21px;
    margin: 0;
    display: inline-block;
  }

  &__summary p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.3;
    color: var(--font_lt);
  }

  &__active {
    position: relative;
    display: block;
    width: 25px; height: 25px;
    border-radius: 50%;
    border: 2px solid var(--gray_lt);
    float: right;
    margin-top: 3px;
    transition: border 0.2s, background-color 0.2s;

    &:before {
      content: '';
      display: block;
      background-color: var(--green_lt);
      width: 25px;
      height: 25px;
      position: absolute;
      top: -2px; left: -2px;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s transform cubic-bezier(0.37, 0.74, 0.15, 1.65);
    }
  }
}

.ticket-footer {
  flex: 0 0 auto;
  border-top: 1px solid var(--gray_dk);
  padding: 15px 0;
  text-align: center;

  & .btn {
    width: 200px;
  }
}
