@import '../../app.vars.css';

.active-details .tab__details {
  width: 480px;
}

.tab__avatar {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  & .user-avatar {
    width: 36px;
    height: 36px;
    margin-right: 5px;
  }
}

.tab__todo {
  transition: height 0.2s;
  height: 100%;
}

.todo__title {
  margin: 0;
}

.todo__summary {
  margin-top: 0;
}
