:root {
  --purp_lt: #A68FF0;
  --blue_lt: #29D1ED;
  --blue_dk: #2C91EB;
  --gray_bg: #E9E9E9;
  --gray_lt: #CCC;
  --gray_dk: #AEAEAE;
  --red_lt: #FF7F59;
  --green_lt: #50E3C2;
  --font_lt: #626262;
  --font_dk: #3C3C3C;
}
