:root {
  --purp_lt: #A68FF0;
  --blue_hover: #EFF9FF;
  --blue_lt: #29D1ED;
  --blue_dk: #2C91EB;
  --gray_bg: #EEE;
  --gray_lt: #CCC;
  --gray_dk: #BBB;
  --red_lt: #FF7F59;
  --green_lt: #3BE8B0;
  --font_lt: #626262;
  --font_dk: #3C3C3C;
}
