@import '../../app.vars.css';

.bucket-list {
  padding: 0;
  margin-top: -4px;

  &__item {
    border-bottom: 1px solid var(--gray_lt);
    padding: 15px;
  }

  &__title {
    font-size: 16px;
    margin: 0;
    color: var(--font_dk);
    font-weight: 600;
  }

  & p {
    margin: 0;
    font-size: 14px;
    color: var(--font_lt);
  }

  &__state {
    border: 3px solid var(--gray_lt);
    color: var(--gray_lt);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 25px;
    float: left;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
    transition: border 0.2s, background 0.2s;

    &:hover {
      border: 3px solid var(--green_lt);
      font-weight: 900;
    }

    @nest .done & {
      font-weight: 900;
      background-color: var(--green_lt);
      border: 3px solid var(--green_lt);
      color: #fff;

      &:hover {
        border: 3px solid var(--red_lt);
      }
    }
  }
}
